.carousel-item {
  height: 450px;
     width: 100%;
    height: 33vw;
    object-fit: cover;
}

 .item img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 450px;
}

img.leader{
	padding-top: 30%;
}

img.about-us{
position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}


p.leader{
	padding-top: 7%;
	font-size: 	25px;
	text-align: left;
	font-family: 'Exo 2', sans-serif;
	padding-left: 	10%;
	color: white;
}

.carousel-caption {
	background-color:rgba(192,192,192,0.7);
	position: absolute;
    top: 0;
    right:  100px;
    height: 450px;
    width: 300px;
    
}

.page-footer{height:35px;}

.product-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.map{

}